{
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "regexYFlag": true,
    "regexUFlag": true
  },
  "globals": {
    "angular": true,
    "__PROCESS__": true,
    "$ctrl": true,
    "$": true
  },
  "rules": {
    "no-constant-condition": "error",
    "no-dupe-args": "error",
    "no-empty": "error",
    "no-extra-boolean-cast": "warn",
    "no-extra-semi": "warn",
    "no-inner-declarations": "error",
    "no-obj-calls": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-jsdoc": "error",

    "accessor-pairs": "warn",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": "error",
    "default-case": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": "error",  // todo
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "prefer-promise-reject-errors": "error",
    "radix": "error",
    "require-await": "error",
    "vars-on-top": "error",
    "wrap-iife": "error",
    "yoda": "warn",
    "init-declarations": "error",
    "no-catch-shadow": "error",
    "no-delete-var": "error",
    "no-restricted-globals": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "error",

    "array-bracket-spacing": ["error", "never"],
    "brace-style": "error",
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["error", "that"],
    "func-call-spacing": ["error", "never"],
    "key-spacing": ["error", { "beforeColon": false }],
    "keyword-spacing": ["error", { "before": true }],
    "line-comment-position": ["error", { "position": "above" }],
    "no-duplicate-imports": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "template-curly-spacing": "error"
  }
}
