.search-form
  display: flex
  justify-content: space-between
  align-items: stretch
  margin-bottom: 15px

  .group
  form
    display: flex
    width: 100%
    justify-content: space-between
    align-items: stretch

    .input
      width: 100%

      .ui-select-container
        .btn
        input
          border-radius: 0
          border-right: 0

        .glyphicon
        .caret
          display: none

      .date-range
        background-color: #fff
        border-radius: 0
        border-right: 0

  button
    background: cornflowerblue
    color: #fff
    text-decoration: none
    text-align: center
    padding: 5px 10px
    border: 0
